<div class="card">
  <h5 class="card-header" *ngIf="product.id"> {{ product.title }}</h5>
  <h5 class="card-header" *ngIf="!product.id">New Product</h5>
  <ul class="list-group list-group-flush" *ngIf="product && isConfirmedDeleted">
    <li class="list-group-item">
      Anda yakin ingin menghapus data {{product.title}}?
    </li>
    <li class="list-group-item">
    <div class="mb-3 mt-3 " *ngIf="product.id">
      <button class="btn btn-warning " (click)="isConfirmedDeleted = false">No</button>
      <button class="btn btn-danger ms-1" (click)="onDelete()">Yes</button>
    </div>
    </li>
  </ul>
  <ul class="list-group list-group-flush" *ngIf="!isConfirmedDeleted">
    <li class="list-group-item">
      <div class="mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" type="text" [(ngModel)]="product.title">
      </div>
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea class="form-control" type="text"[(ngModel)]="product.description"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label">Price</label>
        <input class="form-control" type="number" [(ngModel)]="product.price">
      </div>
    </li>
    <li (click)="showToggle()" *ngIf="!showMore" class="list-group-item">More</li>
    <li (click)="showToggle()" *ngIf="showMore" class="list-group-item">Hide</li>
    <li *ngIf="showMore" class="list-group-item">
      <div class="mb-3">
        <label class="form-label">Discount (%)</label>
        <input class="form-control" type="number" [(ngModel)]="product.discountPercentage">
      </div>
      <div class="mb-3">
        <label class="form-label">Rating</label>
        <input class="form-control" type="number" [(ngModel)]="product.rating">
      </div>
      <div class="mb-3">
        <label class="form-label">Stock</label>
        <input class="form-control" type="number" [(ngModel)]="product.stock">
      </div>
      <div class="mb-3">
        <label class="form-label">Brand</label>
        <input class="form-control" type="text" [(ngModel)]="product.brand">
      </div>
    </li>
    <li class="list-group-item">
      <div class="mb-3 mt-3">
        <button class="btn btn-primary" *ngIf="!product.id" (click)="onCreate()">Save</button>
      </div>
      <div class="mb-3 mt-3" *ngIf="product.id">
        <button class="btn btn-primary" (click)="onUpdate()">Update</button>
        <button class="btn btn-warning" (click)="cancel()">Cancel</button>
        <button class="btn btn-danger" (click)="isConfirmedDeleted = true">Delete</button>
      </div>

    </li>
  </ul>

</div>
