<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Sign In</h4>
          <div class="mb-2">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" [(ngModel)]="user.username">
          </div>
          <div class="mb-2">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" [(ngModel)]="user.password">
          </div>
          <div class="mb-2">
            <button class="btn btn-primary" (click)="onLogin()">Sign In</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
      <svg width="338" height="300" viewBox="0 0 338 300" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="5" y1="-5" x2="337.581" y2="-5" transform="matrix(-0.507132 0.861869 -0.930177 -0.367111 173.734 0)"
              stroke="black" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" class="Seglem-1"></line>
        <line x1="330.188" y1="292.815" x2="272.846" y2="198.492" stroke="black" stroke-width="10"
              stroke-linecap="round" stroke-linejoin="round" class="Seglem-2"></line>
        <line x1="177.467" y1="188.468" x2="119.516" y2="188.468" stroke="black" stroke-width="10"
              stroke-linecap="round" stroke-linejoin="round" class="Seglem-3"></line>
        <path d="M178.031 294.907L178.031 6.79565" stroke="black" stroke-width="10" stroke-linecap="round"
              stroke-linejoin="round" class="Seglem-4"></path>
        <path d="M205.93 293.907L205.93 5.79565" stroke="black" stroke-width="10" stroke-linecap="round"
              stroke-linejoin="round" class="Seglem-5"></path>
        <path
          d="M241.798 218.957C230.443 223.862 218.376 226.668 206.135 227.27V116.197L206.134 5.12334C218.376 5.72477 230.443 8.53128 241.798 13.4356C254.697 19.0067 266.432 27.1783 276.325 37.4945C286.22 47.8111 294.079 60.07 299.444 73.5762C304.81 87.0827 307.574 101.566 307.574 116.197C307.574 130.827 304.81 145.31 299.444 158.817C294.079 172.323 286.22 184.582 276.325 194.899C266.432 205.215 254.697 213.386 241.798 218.957Z"
          stroke="black" stroke-width="10" stroke-linejoin="round" class="Seglem-6"></path>
        <rect x="5" y="5" width="327" height="290" stroke="black" stroke-width="10" class="Seglem-7"></rect>
      </svg>
      </div>

    </div>
  </div>
</div>
